@font-face {
    font-family: "Source Sans Pro";
    font-weight: normal;
}
@font-face {
    font-family: "Vesper Libre";
    font-weight: normal;
}


.ulMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.ilMenu {
    float: left;
}

.aMenu {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    background-color: #333;
    display: none;
    position: absolute;
    z-index: 50;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdownA {
  width: 300px;
}

li a:hover {
    background-color: #111;
}

body {margin: 200; 
	padding-left: 200;
	padding-right: 200;
}

.matrixDiv {
    padding: 2px;
    position: relative
}
.leftDiv {
    background-color: #323232;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px
}
.leftDiv::before {
    background-color: #323232;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: 0;
    width: 9px
}
.leftDiv::after {
    background-color: #323232;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    width: 9px
}
.rightBracketDiv {
    background-color: #323232;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 2px
}
.rightBracketDiv::before {
    background-color: #323232;
    content: '';
    height: 2px;
    position: absolute;
    right: 0;
    top: 0;
    width: 9px
}
.rightBracketDiv::after {
    background-color: #323232;
    bottom: 0;
    content: '';
    height: 2px;
    position: absolute;
    right: 0;
    width: 9px
}
.rowDiv {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0
}
.cellDiv {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #323232;
    display: inline-block;
    font-family: 'Courier New', sans-serif;
    font-size: 24px;
    height: 2em;
    line-height: 49px;
    padding: 0;
    text-align: center;
    text-indent: 0;
    width: 2em
}

.calcDiv {
    margin-bottom: 10px;
    margin-top: 200px
}
.matricesDiv {
    align-items: center;
    display: flex;
    justify-content: center
}
.wrapperDiv {
    border-spacing: 0
}
.matrixBDiv {
    transition: opacity 880ms
}
.fakm5g {
    position: relative;
    transition-delay: 300ms;
    transition-duration: 700ms;
    transition-property: opacity, margin-left
}
.matrixCDiv {
    position: relative;
    transition-delay: 0ms;
    transition-duration: 0ms;
    transition-property: opacity, margin-left
}

.controlDiv {
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.8) 92px, rgba(255, 255, 255, 0.8) 126px, rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 86px;
    position: relative;
    z-index: 2
}
.controlDiv > * + * {
    margin-left: 8px
}

.multiDiv {
    background-color: rgb(48, 141, 255);
    border: none;
    box-shadow: 0 1px 1px 0 #C5C5C5;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 24px;
    padding: 8px 16px
}
.multiDiv:hover {
    background-color: rgb(93, 166, 252)
}
.fljzbrb {
    background-color: rgb(255, 162, 48);
    border: none;
    box-shadow: 0 1px 1px 0 #C5C5C5;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 24px;
    padding: 8px 16px
}

.equalDiv {
    color: #686868;
    font-size: 24px;
    margin: 1em
}
.resizerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
    z-index: 3
}
.colsResCDiv {
    position: relative
}
.colsResDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: -20px;
    margin: 10px 0;
    min-width: 76px;
    position: absolute;
    right: -20px;
    z-index: 3
}
.increaseDiv {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: 0 1px 1px 0 #C5C5C5;
    color: #686868;
    cursor: pointer;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    margin: 4px;
    text-align: center;
    width: 30px
}
.increaseDiv:hover {
    background-color: #EEEEEE
}
body {
    color: #323232;
    font-family: "Source Sans Pro", serif;
    font-weight: 400;
    margin: 0
}